.imageWrapper{
    max-width: 600px;

    img{
        width: 100%;
        height: 100%;
    }
    .premiere{
        padding:10px;
    }
}
.newsDescription{
    margin-top:4em;
    border-bottom-left-radius:10px;
    background-color: var(--bg-secondary);
    padding:3em 2em;
    position: relative;
    min-height: 100px;

    .eventType{
        background-color: var(--bg-tertiary);
        border-radius: 10px;
        width: fit-content;
        padding:2px 1em;
    
        position: absolute;
        bottom:-10px;
        right: 1em;
    }

    .newsHeader{
        position: absolute;
        top:-40px;
        height: 80px;

        margin-right: 3em;
        background-image: var(--gradient-rainbow-bg-secondary);
        display: flex;
        align-items: center;
        padding:1em 2em;
        border-radius: 10px;

        width:-webkit-fill-available;
        .imageIcon{
            width: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }

        .newsTitle{
            margin-left: 1em;
            color: var(--text-c-highlight);
        }
        .attending{
            margin-left: auto;
            margin-right: 1em;
            font-size: 0.75em;
            padding-right: 40px;
        }
    }
}
        
@media(min-width:1300px){
    .imageWrapper{
        margin-left: auto;
        border-bottom-left-radius:10px;
        background-color: var(--bg-secondary);
    
        img{
            border-top-left-radius: 10px;
        }
        .premiere{
            padding:10px;
        }
    }
    
    .newsDescription{
        width: 600px;
        .newsHeader{
            left: -100px;
        }
    }
}