/* DEFAULT */
/* (i) default margin from navigation */
.wrapper {
  margin-top: 4rem;
  margin-left: 4rem;
  padding: 2rem 3rem 5rem;
}

.home-wrapper {
  margin-left: 4rem;
}



/* MEDIA QUERIES */
@media (max-width: 900px) {

  /* # Mobile: */
  .wrapper {
    margin-left: 0;
    padding: 1.5rem 1.5rem 5rem;
  }

  .home-wrapper {
    margin-left: 0;
  }
}

@media (max-width: 330px) {

  /* # XS: */
  .wrapper {
    margin-left: 0;
    padding: 1.5rem 0.5rem 5rem;
  }
}
