<!-- DEFAULT NAVIGATION -->
<div id="default-navigation">

  <!-- # Top Navigation: -->
  <div class="d-flex flex-row navbar-custom justify-content-between align-items-center fixed-top">

    <!-- ## Logo -->
    <a class="navbar-brand" [routerLink]="routerLinks.home">
      <h3 class="logo">
        <span style="font-style: normal">🎟️</span>
        TICKETLINE
      </h3>
    </a>

    <div >
      <!-- ## Logged Out -->
      <div *ngIf="!authService.isLoggedIn(); else loggedIn">
        <input type="button" class="blue" [routerLink]="[routerLinks.signUp]" value="SIGN UP 🤙🏼">
        <a class="a-gray" [routerLink]="routerLinks.logIn">Log in</a>
      </div>

      <!-- ## Logged In -->
      <ng-template #loggedIn>
        <div>
          <span style="font-style: italic; font-weight: var(--font-w-semi-bold); color: var(--text-c-lowlight);">
            WHAT'S UP,&nbsp;
            <a class="edit-profile" [routerLink]="routerLinks.editProfile">{{authService.getFirstName() + ' ' + authService.getLastName()}}</a>?
          </span>
          <a class="a-gray" [routerLink]="routerLinks.home" (click)="signOut()">Sign out</a>
        </div>
      </ng-template>
    </div>

  </div>

  <!-- # Side Navigation: -->
  <div *ngIf="authService.isLoggedIn()" id="side-menu">

    <!-- ## Default Navigation: -->
    <ul class="nav flex-column">
      <!-- ### Homepage -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickHome()" title="Home">
          <i [ngStyle]="currentRoute === routerLinks.home && {'color': 'var(--text-c-highlight)'}" class="bi bi-house"></i>
        </button>
      </li>

      <!-- ### News -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickNews()" title="News">
          <i [ngStyle]="currentRoute === routerLinks.news && {'color': 'var(--text-c-highlight)'}" class="bi bi-newspaper"></i>
        </button>
      </li>

      <!-- ### Top 10 -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickTopTen()" title="Top 10">
          <i [ngStyle]="currentRoute === routerLinks.topTen && {'color': 'var(--text-c-highlight)'}" class="bi bi-trophy"></i>
        </button>
      </li>

      <!-- ### Search -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickSearch()" title="Search">
          <i [ngStyle]="currentRoute === routerLinks.search && {'color': 'var(--text-c-highlight)'}" class="bi bi-search"></i>
        </button>
      </li>

      <!-- ### Cart -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickCart()" title="Cart">
          <i [ngStyle]="currentRoute === routerLinks.cart && {'color': 'var(--text-c-highlight)'}" class="bi bi-cart"></i>
        </button>
      </li>

      <!-- ### Reservations -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickReservations()" title="Reservations">
          <i [ngStyle]="currentRoute === routerLinks.reservations && {'color': 'var(--text-c-highlight)'}" class="bi bi-clipboard"></i>
        </button>
      </li>
    </ul>

    <hr class="separator">

    <!-- ## Admin Navigation: -->
    <ul *ngIf="authService.getUserRole() === 'ADMIN'" class="nav flex-column">
      <!-- ### Create News -->
      <li class="nav-item">
        <button class="nav-button admin-button" (click)="clickCreateNews()" title="Create News">
          <i [ngStyle]="currentRoute === routerLinks.createNews && {'color': 'var(--text-c-r-highlight)'}" class="bi bi-newspaper"></i>
        </button>
      </li>

      <!-- ### Create Event -->
      <li class="nav-item">
        <button class="nav-button admin-button" (click)="clickCreateEvent()" title="Create Event">
          <i [ngStyle]="currentRoute === routerLinks.createEvent && {'color': 'var(--text-c-r-highlight)'}" class="bi bi-ticket-detailed"></i>
        </button>
      </li>

      <!-- ### Create Location -->
      <li class="nav-item">
        <button class="nav-button admin-button" (click)="clickCreateLocation()" title="Create Location">
          <i [ngStyle]="currentRoute === routerLinks.createLocation && {'color': 'var(--text-c-r-highlight)'}" class="bi bi-geo-fill"></i>
        </button>
      </li>

      <!-- ### Add Admin -->
      <li class="nav-item">
        <button class="nav-button admin-button" (click)="clickAddAdmin()" title="Add Admin">
          <i [ngStyle]="currentRoute === routerLinks.addAdmin && {'color': 'var(--text-c-r-highlight)'}" class="bi bi-person-plus"></i>
        </button>
      </li>

      <!-- ### Unlock User -->
      <li class="nav-item">
        <button class="nav-button admin-button" (click)="clickUnlockUser()" title="Unlock User">
          <i [ngStyle]="currentRoute === routerLinks.unlockUser && {'color': 'var(--text-c-r-highlight)'}" class="bi bi-unlock"></i>
        </button>
      </li>
    </ul>
  </div>
</div>



<!-- MOBILE NAVIGATION -->
<div id="mobile-navigation" class="fixed-top">

  <!-- # Top Navigation: -->
  <nav class="navbar navbar-expand-lg navbar-custom justify-content-between">
    <!-- ## Logo -->
    <a class="navbar-brand" [routerLink]="routerLinks.home">
      <h3 class="logo">
        <span style="font-style: normal">🎟️</span>
        TICKETLINE
      </h3>
    </a>

    <!-- ## Burger -->
    <span (click)="openMobileMenu()">
        <i class="bi bi-list burger" *ngIf="!showMobileMenu; else closeMenu"></i>
        <ng-template #closeMenu>
          <i class="bi bi-x-lg burger"></i>
        </ng-template>
    </span>
  </nav>

  <!-- # Expanded Navigation: -->
  <div id="expanded-menu" *ngIf="showMobileMenu">
    <hr/>

    <div id="expanded-menu-item-container">
      <!-- ## Default Navigation -->
      <ul *ngIf="!showAdminMenu && authService.isLoggedIn()" class="nav flex-column">
        <!-- ### Homepage -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickHome()">
            <i [ngStyle]="currentRoute === routerLinks.home && {'color': 'var(--text-c-highlight)'}" class="bi bi-house"> Home</i>
          </button>
        </li>

        <!-- ### News -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickNews()">
            <i [ngStyle]="currentRoute === routerLinks.news && {'color': 'var(--text-c-highlight)'}" class="bi bi-newspaper"> News</i>
          </button>
        </li>

        <!-- ### Top 10 -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickTopTen()">
            <i [ngStyle]="currentRoute === routerLinks.topTen && {'color': 'var(--text-c-highlight)'}" class="bi bi-trophy"> Top 10</i>
          </button>
        </li>

        <!-- ### Search -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickSearch()">
            <i [ngStyle]="currentRoute === routerLinks.search && {'color': 'var(--text-c-highlight)'}" class="bi bi-search"> Search</i>
          </button>
        </li>

        <!-- ### Cart -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickCart()">
            <i [ngStyle]="currentRoute === routerLinks.cart && {'color': 'var(--text-c-highlight)'}" class="bi bi-cart"> Cart</i>
          </button>
        </li>

        <!-- ### Reservations -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickReservations()">
            <i [ngStyle]="currentRoute === routerLinks.reservations && {'color': 'var(--text-c-highlight)'}" class="bi bi-clipboard"> Reservations</i>
          </button>
        </li>

        <!-- ### Admin -->
        <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
          <button class="nav-button" (click)="clickAdmin()">
            <i class="bi bi-tools"> Admin Tools</i>
          </button>
        </li>
      </ul>

      <!-- ## Admin Navigation: -->
      <ul *ngIf="showAdminMenu" class="nav flex-column">
        <!-- ### Create News -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickCreateNews()" title="Create News">
            <i [ngStyle]="currentRoute === routerLinks.createNews && {'color': 'var(--text-c-highlight)'}" class="bi bi-newspaper"> Create News</i>
          </button>
        </li>

        <!-- ### Create Event -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickCreateEvent()" title="Create Event">
            <i [ngStyle]="currentRoute === routerLinks.createEvent && {'color': 'var(--text-c-highlight)'}" class="bi bi-ticket-detailed"> Create Event</i>
          </button>
        </li>

        <!-- ### Create Location -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickCreateLocation()" title="Create Location">
            <i [ngStyle]="currentRoute === routerLinks.createLocation && {'color': 'var(--text-c-highlight)'}" class="bi bi-geo-fill"> Create Location</i>
          </button>
        </li>

        <!-- ### Add Admin -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickAddAdmin()" title="Add Admin">
            <i [ngStyle]="currentRoute === routerLinks.addAdmin && {'color': 'var(--text-c-highlight)'}" class="bi bi-person-plus"> Add Admin</i>
          </button>
        </li>

        <!-- ### Unlock User -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickUnlockUser()" title="Unlock User">
            <i [ngStyle]="currentRoute === routerLinks.unlockUser && {'color': 'var(--text-c-highlight)'}" class="bi bi-unlock"> Unlock User</i>
          </button>
        </li>

        <!-- ### Close -->
        <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'" title="Close Admin Tools">
          <button class="nav-button" (click)="clickAdmin()">
            <i class="bi bi-x-lg"> Close Admin Tools</i>
          </button>
        </li>
      </ul>

      <!-- ## Logged Out -->
      <div class="d-flex flex-column" *ngIf="!authService.isLoggedIn(); else loggedIn">
        <input type="button" class="blue" (click)="clickSignUp()" value="SIGN UP 🤙🏼">
        <a class="a-gray" (click)="clickLogIn()">Log in</a>
      </div>

      <!-- ## Logged In -->
      <ng-template #loggedIn>
        <div class="d-flex flex-column">
          <span class="whats-up">WHAT'S UP?</span>
          <a class="edit-profile" [routerLink]="routerLinks.editProfile">{{authService.getFirstName() + ' ' + authService.getLastName()}}</a>
          <a class="a-gray" [routerLink]="routerLinks.home" (click)="signOut()">Sign out</a>
        </div>
      </ng-template>

    </div>
  </div>

</div>
