<!-- DEFAULT NAVIGATION -->
<div id="default-navigation">

  <!-- # Top Navigation: -->
  <div class="d-flex flex-row navbar-custom justify-content-between align-items-center fixed-top">

    <!-- ## Logo -->
    <a class="navbar-brand" [routerLink]="routerLinks.home">
      <h3 class="logo">
        <span style="font-style: normal">🎟️</span>
        TICKETLINE
      </h3>
    </a>

    <div >
      <!-- ## Logged Out -->
      <div *ngIf="!authService.isLoggedIn(); else loggedIn">
        <input type="button" class="blue" [routerLink]="[routerLinks.signUp]" value="SIGN UP 🤙🏼">
        <a class="a-gray" [routerLink]="routerLinks.logIn">Log in</a>
      </div>

      <!-- ## Logged In -->
      <ng-template #loggedIn>
        <div>
          <span style="font-style: italic; font-weight: var(--font-w-semi-bold); color: var(--text-c-lowlight);">
            WHAT'S UP,&nbsp;
            <a class="edit-profile" [routerLink]="routerLinks.editProfile">{{authService.getFirstName() + ' ' + authService.getLastName()}}</a>?
          </span>
          <a class="a-gray" [routerLink]="routerLinks.home" (click)="signOut()">Sign out</a>
        </div>
      </ng-template>
    </div>

  </div>

  <!-- # Side Navigation: -->
  <div id="side-menu">
    <ul class="nav flex-column">
      <!-- ## Homepage -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickHome()">
          <i [ngStyle]="currentRoute === routerLinks.home && {'color': 'var(--text-c-highlight)'}" class="bi bi-house"></i>
        </button>
      </li>

      <!-- ## News -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickNews()">
          <i [ngStyle]="currentRoute === routerLinks.news && {'color': 'var(--text-c-highlight)'}" class="bi bi-newspaper"></i>
        </button>
      </li>

      <!-- ## Top 10 -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickTopTen()">
          <i [ngStyle]="currentRoute === routerLinks.topTen && {'color': 'var(--text-c-highlight)'}" class="bi bi-trophy"></i>
        </button>
      </li>

      <!-- ## Search -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickSearch()">
          <i [ngStyle]="currentRoute === routerLinks.search && {'color': 'var(--text-c-highlight)'}" class="bi bi-search"></i>
        </button>
      </li>

      <!-- ## Cart -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickCart()">
          <i [ngStyle]="currentRoute === routerLinks.cart && {'color': 'var(--text-c-highlight)'}" class="bi bi-cart"></i>
        </button>
      </li>

      <!-- ## Reservations -->
      <li class="nav-item">
        <button class="nav-button" (click)="clickReservations()">
          <i [ngStyle]="currentRoute === routerLinks.reservations && {'color': 'var(--text-c-highlight)'}" class="bi bi-clipboard"></i>
        </button>
      </li>

      <!-- ## Admin -->
      <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
        <button class="nav-button" (click)="clickAdmin()">
          <i [ngStyle]="currentRoute === routerLinks.adminTools && {'color': 'var(--text-c-highlight)'}" class="bi bi-tools"></i>
        </button>
      </li>
    </ul>
  </div>

</div>



<!-- MOBILE NAVIGATION -->
<div id="mobile-navigation" class="fixed-top">

  <!-- # Top Navigation: -->
  <nav class="navbar navbar-expand-lg navbar-custom justify-content-between">
    <!-- ## Logo -->
    <a class="navbar-brand" [routerLink]="routerLinks.home">
      <h3 class="logo">
        <span style="font-style: normal">🎟️</span>
        TICKETLINE
      </h3>
    </a>

    <!-- ## Burger -->
    <span (click)="openMobileMenu()">
        <i class="bi bi-list burger" *ngIf="!showMobileMenu; else closeMenu"></i>
        <ng-template #closeMenu>
          <i class="bi bi-x-lg burger"></i>
        </ng-template>
    </span>
  </nav>

  <!-- # Expanded Navigation: -->
  <div id="expanded-menu" *ngIf="showMobileMenu">
    <hr/>

    <div id="expanded-menu-item-container">
      <!-- ## Navigation Items -->
      <ul class="nav flex-column">
        <!-- ### Homepage -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickHome()">
            <i [ngStyle]="currentRoute === routerLinks.home && {'color': 'var(--text-c-highlight)'}" class="bi bi-house"> Home</i>
          </button>
        </li>

        <!-- ### News -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickNews()">
            <i [ngStyle]="currentRoute === routerLinks.news && {'color': 'var(--text-c-highlight)'}" class="bi bi-newspaper"> News</i>
          </button>
        </li>

        <!-- ### Top 10 -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickTopTen()">
            <i [ngStyle]="currentRoute === routerLinks.topTen && {'color': 'var(--text-c-highlight)'}" class="bi bi-trophy"> Top 10</i>
          </button>
        </li>

        <!-- ### Cart -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickSearch()">
            <i [ngStyle]="currentRoute === routerLinks.search && {'color': 'var(--text-c-highlight)'}" class="bi bi-search"> Cart</i>
          </button>
        </li>

        <!-- ### Search -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickCart()">
            <i [ngStyle]="currentRoute === routerLinks.cart && {'color': 'var(--text-c-highlight)'}" class="bi bi-cart"> Search</i>
          </button>
        </li>

        <!-- ### Reservations -->
        <li class="nav-item">
          <button class="nav-button" (click)="clickReservations()">
            <i [ngStyle]="currentRoute === routerLinks.reservations && {'color': 'var(--text-c-highlight)'}" class="bi bi-clipboard"> Reservations</i>
          </button>
        </li>

        <!-- ### Admin -->
        <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
          <button class="nav-button" (click)="clickAdmin()">
            <i [ngStyle]="currentRoute === routerLinks.adminTools && {'color': 'var(--text-c-highlight)'}" class="bi bi-tools"> Admin Tools</i>
          </button>
        </li>
      </ul>

      <!-- ## Logged Out -->
      <div class="d-flex flex-column" *ngIf="!authService.isLoggedIn(); else loggedIn">
        <input type="button" class="blue" [routerLink]="[routerLinks.signUp]" value="SIGN UP 🤙🏼">
        <a class="a-gray" [routerLink]="routerLinks.logIn">Log in</a>
      </div>

      <!-- ## Logged In -->
      <ng-template #loggedIn>
        <div class="d-flex flex-column">
          <span class="whats-up">WHAT'S UP?</span>
          <a class="edit-profile" [routerLink]="routerLinks.editProfile">{{authService.getFirstName() + ' ' + authService.getLastName()}}</a>
          <a class="a-gray" [routerLink]="routerLinks.home" (click)="signOut()">Sign out</a>
        </div>
      </ng-template>

    </div>
  </div>

</div>
