<div class="newsContainer ">
    <h1>Create News</h1>

    <form>

        <div class="form-group col-md-12 mb-2">
            <label for="title" class="control-label">Title</label>
            <input type="text" [(ngModel)]="news.title" class="form-control" id="title" placeholder="Title"
                name="title">
        </div>

        <div class="col-md-12 mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control inputStyling" id="description" rows="3" [(ngModel)]="news.description"
                name="description" placeholder="Description"></textarea>
        </div>

        <div class="row mb-5">
            <div class="col-md-1">
                <label class="form-label" for="event">Event</label>
                <div id="event" class="inputStyling d-flex justify-content-center align-items-center" name="eventId"
                    role="button">
                    <i class="bi bi-plus-lg"></i>
                </div>
            </div>

            <div class="col-md-11">
                <label for="image" class="form-label">Images</label>
                <input class="form-control inputStyling" type="file" id="image"
                    (change)="handleFileInput($event.target.files)" name="image">
            </div>
        </div>

        <div class="form-group col-md-12">
            <input type="button" value="Add" class="form-control white" (click)="onSubmit($event)" />
        </div>

    </form>
</div>