<!--header-->
<h2>🔥 Top 10 - {{currentMonth}} </h2>
<h5>Support you favorite events and place them at the podium.</h5>

<br>

<div *ngFor="let category of categoriesValues; let c = index">

  <div *ngIf = "c !== 0"> <br> <br> </div>

  <!--headline-->
  <h4 class="headline"> {{category}} </h4>

  <br>

  <!--Display top ten events of category concerts-->
  <div *ngFor="let event of topTenEvents[category]; let i = index;">

    <!--FIRST PLACE-->
    <span *ngIf="i === 0">
      <div class="d-flex flex-row">
        <div class="p-2">{{i + 1}}.</div>
        <div><input type="button" style="margin-left: 23px" (click) = "inspect(event.id)" value="🎟️"></div>
        <div class="p-2" style="background: var(--gradient-orange)" [style.width.%]=getPercent(i,category)>
          <div><img [src]="event.thumbnail?.url"></div>
          <div>{{event.name}}</div>
          <div style="float: right"> 🔥 </div>
        </div>
        <div class="p-2" style="font-weight: var(--font-w-light)"> {{event.ticketCount}} </div>
      </div>
    </span>

    <!--SECOND PLACE-->
    <span *ngIf="i === 1">
      <div class="d-flex flex-row">
        <div class="p-2">{{i + 1}}.</div>
        <div><input type="button" (click) = "inspect(event.id)" value="🎟️"></div>
        <div class="p-2" style="background: var(--gradient-purple)" [style.width.%]=getPercent(i,category)>
          <div><img [src]="event.thumbnail?.url"></div>
          <div>{{event.name}}</div>
          <div style="float: right"> 😎 </div>
        </div>
        <div class="p-2" style="font-weight: var(--font-w-light)"> {{event.ticketCount}} </div>
      </div>
    </span>

    <!--THIRD PLACE-->
    <span *ngIf="i === 2">
      <div class="d-flex flex-row">
        <div class="p-2">{{i + 1}}.</div>
        <div><input type="button" (click) = "inspect(event.id)" value="🎟️"></div>
        <div class="p-2" style="background: var(--gradient-blue)" [style.width.%]=getPercent(i,category)>
          <div><img [src]="event.thumbnail?.url"></div>
          <div>{{event.name}}</div>
          <div style="float: right"> 🥶 </div>
        </div>
        <div class="p-2" style="font-weight: var(--font-w-light)"> {{event.ticketCount}} </div>
      </div>
    </span>

    <!--PLACES 4 to 9-->
    <span *ngIf="i !== 0 && i !== 1 && i !==2 && i!== 9 ">
      <div class="d-flex flex-row">
        <div class="p-2">{{i + 1}}.</div>
        <div><input type="button" (click) = "inspect(event.id)" value="🎟️"></div>
        <div class="p-2" style="background: var(--bg-tertiary)" [style.width.%]=getPercent(i,category)>
          <div><img [src]="event.thumbnail?.url"></div>
          <div>{{event.name}}</div>
        </div>
        <div class="p-2" style="font-weight: var(--font-w-light)"> {{event.ticketCount}} </div>
      </div>
    </span>

    <!--LAST PLACE-->
    <span *ngIf="i===9 ">
      <div class="d-flex flex-row">
        <div class="p-2">{{i + 1}}.</div>
        <div><input type="button" (click) = "inspect(event.id)" style="margin-left: 13px" value="🎟️"></div>
        <div class="p-2" style="background: var(--bg-tertiary)" [style.width.%]=getPercent(i,category)>
          <div><img [src]="event.thumbnail?.url"></div>
          <div>{{event.name}}</div>
        </div>
        <div class="p-2" style="font-weight: var(--font-w-light)"> {{event.ticketCount}} </div>
      </div>
    </span>

  </div>

</div>
