<!-- DEFAULT TICKET -->
<div id="default-ticket">
  <div class="d-flex flex-row align-items-start">

    <!-- # Ticket: -->
    <div class="d-flex flex-row justify-content-between align-items-center ticket-wrapper">
      <div class="flex-fill d-flex flex-row align-items-center" style="height: 100%;">

        <!-- ## Image -->
        <img class="thumbnail" src="https://i1.sndcdn.com/artworks-000593823888-6lxnz1-t500x500.jpg" alt="thumbnail">
        <span class="ticket-class-emoji">💎</span>
        <span class="ticket-class">VIP</span>

        <!-- ## Content -->
        <div class="d-flex flex-column content">
          <div class="d-flex flex-row align-items-center">

            <!-- ### Event Title -->
            <span class="title">Hardstyle Tevvez Zyzz - </span>

            <!-- ### Performance Datetime -->
            <span class="datetime">&nbsp;04/05/2022 18:30</span>
          </div>

          <!-- ### Performance + Seat -->
          <span class="seat">Performance 1:&emsp;ROW 3&emsp;SEAT 7</span>
        </div>
      </div>

      <!-- # Price: -->
      <span class="price">€ 549.99</span>
    </div>

    <!-- # Remove Button: -->
    <button type="button" class="btn remove"><i class="bi bi-x"></i></button>
  </div>
</div>



<!-- MOBILE TICKET -->
<div id="mobile-ticket">
  <div class="d-flex flex-row align-items-start">

    <!-- # Ticket: -->
    <div class="d-flex flex-column ticket-wrapper">

      <!-- ## Top -->
      <div class="d-flex flex-row align-items-center">

        <!-- ### Image -->
        <img class="thumbnail" src="https://i1.sndcdn.com/artworks-000593823888-6lxnz1-t500x500.jpg" alt="thumbnail">
        <span class="ticket-class-emoji">💎</span>
        <span class="ticket-class">VIP</span>

        <!-- ### Main Information -->
        <div class="d-flex flex-column" style="margin-left: 1.5rem">
          <span class="title">Hardstyle Tevvez Zyzz</span>
          <span class="datetime">&nbsp;04/05/2022 18:30</span>
        </div>
      </div>
      <hr>

      <!-- ## Bottom -->
      <div class="d-flex flex-row justify-content-between align-items-center mobile-stats-wrapper">

        <!-- ### Detail Information -->
        <div class="d-flex flex-column">
          <span class="seat">Performance 1:</span>
          <span class="seat">ROW 3&emsp;SEAT 7</span>
        </div>

        <!-- ### Price -->
        <span class="price">€ 549.99</span>
      </div>
    </div>

    <!-- # Remove Button: -->
    <button type="button" class="btn remove"><i class="bi bi-x"></i></button>
  </div>
</div>
