<!-- HEADLINE -->
<h2>🛒 Cart</h2>
<h5>Buy tickets or view the ones you have already bought</h5>


<!-- CART -->
<h4 class="headline">in you cart ({{cart?.tickets.length | shortNumber}})</h4>

<!-- # Cart Grid: -->
<!-- ## Empty Cart -->
<div *ngIf="cart?.tickets.length <= 0; else cartNotEmpty">
  <h5 class="empty">Nothing in here ... chirp chirp 🦗</h5>
</div>
<!-- ## Filled Cart -->
<ng-template #cartNotEmpty>
  <div class="ticket-grid">
    <div *ngFor="let ticket of cart?.tickets">
      <!-- ### Seat -->
      <app-ticket *ngIf="ticket?.sector.type === 'SEAT'"
                  removeButton="true"
                  [imageSrc]="ticket.performance.event?.thumbnail?.url ? globals.backendUri + ticket.performance.event?.thumbnail?.url : ''"
                  [title]="ticket.performance.event?.name"
                  [datetime]="ticket.performance.dateTime | date: 'dd/MM/YYYY hh:mm'"
                  [performance]="ticket.performance.location.name"
                  [price]="ticket?.sector.price"
                  rowTitle="ROW"
                  [rowValue]="toSeatTicket(ticket).seat.row+''"
                  columnTitle="SEAT"
                  [columnValue]="toSeatTicket(ticket).seat.column+''"
                  [ticketClass]="toSeatTicket(ticket).sector.seatType"
                  (inspect)="inspect(ticket.performance.event.id, ticket.performance.id)"
                  (remove)="onCartRemove(ticket.id)">
      </app-ticket>

      <!-- ### Standing -->
      <app-ticket *ngIf="ticket?.sector.type === 'STANDING'"
                  removeButton="true"
                  [imageSrc]="ticket.performance.event?.thumbnail?.url ? globals.backendUri + ticket.performance.event?.thumbnail?.url : ''"
                  [title]="ticket.performance.event?.name"
                  [datetime]="ticket.performance.dateTime | date: 'dd/MM/YYYY hh:mm'"
                  [performance]="ticket.performance.location.name"
                  [price]="ticket.sector.price"
                  rowTitle="SECTOR"
                  [rowValue]="ticket.sector.name"
                  (inspect)="inspect(ticket.performance.event.id, ticket.performance.id)"
                  (remove)="onCartRemove(ticket.id)">
      </app-ticket>
    </div>
  </div>

  <!-- # Purchase Button: -->
  <div class="d-flex flex-row align-items-center" style="margin-top: 1rem; margin-bottom: 4rem">
    <!-- TODO Add purchase functionality -->
    <input type="button" class="blue" value="BUY TICKETS" (click)="checkout()">
    <!-- TODO Add purchase dynamic price -->
    <span class="price">for a total of € {{calculateTotalSum().toFixed(2)}}</span>
  </div>
</ng-template>


<!-- PURCHASED UPCOMING EVENTS -->
<h4 class="headline">purchased upcoming events ({{upcomingTickets?.length | shortNumber}})</h4>

<!-- # Purchased Tickets Grid: -->
<!-- ## No purchased Tickets -->
<div *ngIf="upcomingTickets && upcomingTickets.length <= 0; else upcomingTicketsNotEmpty">
  <h5 class="empty">Nothing in here ... chirp chirp 🦗</h5>
</div>

<!-- ## Tickets -->
<ng-template #upcomingTicketsNotEmpty>
  <div class="ticket-grid">
    <div *ngFor="let ticket of upcomingTickets">
      <!-- ### Seat -->
      <app-ticket *ngIf="ticket?.sector.type === 'SEAT'"
                  [hoverTitle]='"Select Ticket"'
                  [showGreenBorder]="isPurchasedTicketSelected(ticket.id)"
                  [imageSrc]="ticket.performance.event?.thumbnail?.url ? globals.backendUri + ticket.performance.event?.thumbnail?.url : ''"
                  [title]="ticket.performance.event?.name"
                  [datetime]="ticket.performance.dateTime | date: 'dd/MM/YYYY hh:mm'"
                  [performance]="ticket.performance.location.name"
                  [price]="ticket?.sector.price"
                  rowTitle="ROW"
                  [rowValue]="toSeatTicket(ticket).seat.row+''"
                  columnTitle="SEAT"
                  [columnValue]="toSeatTicket(ticket).seat.column+''"
                  [ticketClass]="toSeatTicket(ticket).sector.seatType"
                  (inspect)="selectPurchasedTicket(ticket.id)">
      </app-ticket>

      <!-- ### Standing -->
      <app-ticket *ngIf="ticket?.sector.type === 'STANDING'"
                  [hoverTitle]='"Select Ticket"'
                  [showGreenBorder]="isPurchasedTicketSelected(ticket.id)"
                  [imageSrc]="ticket.performance.event?.thumbnail?.url ? globals.backendUri + ticket.performance.event?.thumbnail?.url : ''"
                  [title]="ticket.performance.event?.name"
                  [datetime]="ticket.performance.dateTime | date: 'dd/MM/YYYY hh:mm'"
                  [performance]="ticket.performance.location.name"
                  [price]="ticket.sector.price"
                  rowTitle="SECTOR"
                  [rowValue]="ticket.sector.name"
                  (inspect)="selectPurchasedTicket(ticket.id)">
      </app-ticket>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between" style="margin-top: 1rem; margin-bottom: 1rem">
    <div class="d-grid">
      <input type="button" class="btn blue add-btn" value="CANCEL" (click)="showPurchaseCancelModal()"
             [disabled]="areNoPurchasedTicketsSelected()">
    </div>
  </div>
  <p *ngIf="areNoPurchasedTicketsSelected()" class="small">Click on tickets to select them</p>
</ng-template>


<!-- PURCHASED PAST EVENTS -->
<h4 class="headline" style="margin-top: 4rem">past events ({{totalAllPastPurchasedPage | shortNumber}})</h4>

<!-- # Purchased Tickets Grid: -->
<!-- ## No purchased Tickets -->
<div *ngIf="pastTickets?.length <= 0; else pastTicketsNotEmpty">
  <h5 class="empty">Nothing in here ... chirp chirp 🦗</h5>
</div>

<!-- ## Tickets -->
<ng-template #pastTicketsNotEmpty>
  <div class="ticket-grid">
    <div *ngFor="let ticket of pastTickets">
      <!-- ### Seat -->
      <app-ticket *ngIf="ticket?.sector.type === 'SEAT'"
                  [imageSrc]="ticket.performance.event?.thumbnail?.url ? globals.backendUri + ticket.performance.event?.thumbnail?.url : ''"
                  [title]="ticket.performance.event?.name"
                  [datetime]="ticket.performance.dateTime | date: 'dd/MM/YYYY hh:mm'"
                  [performance]="ticket.performance.location.name"
                  [price]="ticket?.sector.price"
                  rowTitle="ROW"
                  [rowValue]="toSeatTicket(ticket).seat.row+''"
                  columnTitle="SEAT"
                  [columnValue]="toSeatTicket(ticket).seat.column+''"
                  [ticketClass]="toSeatTicket(ticket).sector.seatType">
      </app-ticket>

      <!-- ### Standing -->
      <app-ticket *ngIf="ticket?.sector.type === 'STANDING'"
                  [imageSrc]="ticket.performance.event?.thumbnail?.url ? globals.backendUri + ticket.performance.event?.thumbnail?.url : ''"
                  [title]="ticket.performance.event?.name"
                  [datetime]="ticket.performance.dateTime | date: 'dd/MM/YYYY hh:mm'"
                  [performance]="ticket.performance.location.name"
                  [price]="ticket.sector.price"
                  rowTitle="SECTOR"
                  [rowValue]="ticket.sector.name">
      </app-ticket>
    </div>
  </div>

  <!-- ### Pagination -->
  <ngb-pagination *ngIf="totalAllPastPurchasedPage > pageSize"
                  [(page)]="pastPurchasedPage"
                  [pageSize]="pageSize"
                  [collectionSize]="totalAllPastPurchasedPage"
                  (pageChange)="handlePageChangePastPurchasedPage()">
  </ngb-pagination>
</ng-template>
