<!-- HEADLINE -->
<h2>🛒 Cart</h2>
<h5>Buy tickets or view the ones you have already bought</h5>



<!-- CART -->
<h4 class="headline">in you cart</h4>

<!-- # Cart Grid: -->
<div class="ticket-grid">
  <app-ticket imageSrc="https://i.scdn.co/image/ab67616d0000b273b88b37fc9da1a2e7b7358634" datetime="18/02/22 18:15" title="This is a game lmao" ticketClass="VIP" performance="Performance 1" rowTitle="ROW" rowValue="27" columnTitle="SEAT" columnValue="10" price="187.99" ></app-ticket>
  <app-ticket ticketClass="PREMIUM" performance="Performance 1" rowTitle="ROW" rowValue="27" columnTitle="SEAT" columnValue="10" price="187.99" (remove)="onRemove()" (inspect)="onRemove()"></app-ticket>
</div>

<!-- # Purchase Button: -->
<div class="d-flex flex-row align-items-center" style="margin-top: 1rem; margin-bottom: 4rem">
  <!-- TODO Add purchase functionality -->
  <input type="button" class="blue" value="BUY TICKETS">
  <!-- TODO Add purchase dynamic price -->
  <span class="price">for a total of € 1178.99</span>
</div>



<!-- PURCHASED UPCOMING EVENTS -->
<!-- TODO Implement purchased upcoming events -->
<h4 class="headline">purchased upcoming events</h4>



<!-- PAST EVENTS -->
<!-- TODO Implement past events -->
<h4 class="headline">past events</h4>
