/* # Divs: */
#wrapper {
  width: 100%;
  height: 100%;
  background: var(--gradient-rainbow);
}

.content {
  margin-top:5em;
}

/* # Buttons: */
#loginButtonSm, #loginButtonLg {
  font-size: 0.9em;
  padding: 9.25px 9px;
}

.abort {
  padding: 0;
  line-height: 0;
  background-color: transparent;

  i {
    font-size: 1.5em;
    padding: 0;
    display: inline-block;
    color: var(--text-c-highlight);
  }
}


/* # Other: */
a {
  color: var(--accent-orange) !important;
}

p {
  color: var(--text-c-highlight)
}

i {
  font-size: 1.6em;
}

.terms-of-use {
  margin-top: 15rem;
}
