/* DEFAULT */
/* # Divs: */
#wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--gradient-rainbow);
}

.content {
  margin-top:4em;
}

.terms-of-use {
  margin-top: 15rem;
}

.order-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* # Buttons: */
#loginButtonSm, #loginButtonLg {
  font-size: 0.9em;
  padding: 9.25px 9px;
}

.abort, .edit {
  padding: 0;
  line-height: 0;
  background-color: transparent;

  i {
    font-size: 1.5em;
    padding: 0;
    display: inline-block;
    color: var(--text-c-highlight);
  }
}

.edit {
  margin-left: 0.3rem;

  i {
    font-size: 1.1em;
  }

  &:disabled {
    opacity: 0.6;
  }
}

/* # Other: */
a {
  color: var(--accent-orange) !important;
}

i {
  font-size: 1.6em;
}

hr {
  height: 1px;
  background-color: var(--text-c-highlight);
  opacity: 1;
}

span {
  color: var(--text-c-highlight);
  font-size: 0.8em;
  font-weight: var(--font-w-light);
}

p {
  color: var(--text-c-highlight);
  font-size: 0.8em;
  font-weight: var(--font-w-light);
}

.order-headline {
  margin-bottom: 0.2rem;
}

.edit-input {
  background-color: transparent !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: var(--text-c-highlight) !important;
  border-color: var(--text-c-highlight) !important;
  font-size: 0.8em !important;
  line-height: 1em !important;
  margin-bottom: 0.8rem !important;
  border-bottom-width: 1px !important;
}

select {
  padding-top: 0.5rem !important;
  padding-bottom: 0.25rem !important;
  font-weight: var(--font-w-regular) !important;
}




/* MEDIA QUERIES */
@media (max-width: 991px) {

  /* # Mobile: */
  .order-wrapper {
    display: flex;
    flex-direction: column;
  }

  .shipping {
    margin-top: 0.6rem;
  }
}
