<div class="newsTimeline">
    <h2>
        <i class="bi bi-newspaper"></i>
        News
    </h2>
    <h5>Get informed about the latest events.</h5>

    <h4 class="headline">Unread News</h4>
    <div class="timeline">
        <div *ngFor="let n of news;let i = index" class="eventPreview d-flex align-items-center mb-5">
            <label class="date me-3">{{n.date}}</label>
            <div class="content d-flex align-items-center"
                [ngClass]="{'rainbowBackground': i === currentSelectedIdUnreadNews}"
                (click)="handelOnClickUnreadNews(i)">
                <div class="previewIcon">
                    <img [src]="n.fileDto.url">
                </div>
                <div class="previewNews">
                    <div class="title">{{n.title}}</div>
                    <label class="description">{{n.description}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center" (click)="toggleExpandAllNews()" role="button">
        <i class="bi bi-plus"></i>
        <label class="header-label">Read all news</label>
    </div>
    <div *ngIf="expandAllNews" class="timeline">
        <div *ngFor="let n of allNews;let i = index" class="eventPreview d-flex align-items-center mb-5">
            <label class="date me-3">{{n.date}}</label>
            <div class="content d-flex align-items-center"
                [ngClass]="{'rainbowBackground': i === currentSelectedIdAllNews}" (click)="handelOnClickAllNews(i)">
                <div class="previewIcon">
                    <img [src]="n.fileDto.url">
                </div>
                <div class="previewNews">
                    <div class="title">{{n.title}}</div>
                    <label class="description">{{n.description}}</label>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- TODO: display detail view -->
<div class="detailView">
    <div *ngIf="currentSelectedIdUnreadNews !== -1">
        <app-news-detail [news]="news[currentSelectedIdUnreadNews]"></app-news-detail>
    </div>
    <div *ngIf="currentSelectedIdAllNews !== -1">
        <app-news-detail [news]="allNews[currentSelectedIdAllNews]"></app-news-detail>
    </div>
</div>