<div id="wrapper">
  <div class="page-container container">


    <div id="header" class="pt-4">
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand ml-lg-5" href="">
          <h3 class="logo" style="display: inline"><span>🎟️</span> TICKETLINE</h3>
        </a>
        <div class=" navbar-right ms-auto justify-content-end float-right" id="navbarSupportedContent">
          <div class="d-none d-md-inline d-lg-block">
            <h4>Already have an account? <input type="button" id="loginButtonLg" class="white" routerLink="/login"
                                                value="Log in"
                                                style="margin-left: 1rem;" routerLinkActive="active"></h4>
          </div>
          <div class="d-md-none">
            <input type="button" id="loginButtonSm" class="white" routerLink="/login" value="Log in"
                   style="margin-left: 1rem;" routerLinkActive="active">
          </div>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-3">
        <!--      Placeholder-->
      </div>
      <div class="col-6">
        <div class="pt-5 content">
          <div class="col-12">
            <h1 class="text-center">Create an Account</h1>
          </div>
          <div class="row">
            <div class="col-12">
              <h4 class="text-center logo">Already haven an account? <a routerLink="/login">Log in</a></h4>
            </div>
          </div>
          <form class="form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <div class="row mt-2">
              <!--Fist name input-->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="firstName">First Name(s)</label>
                  <input type="text" name="firstName" formControlName="firstName" class="form-control" id="firstName"
                         aria-describedby="firstNameHelp" placeholder="Enter your First Name(s)">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.firstName">
                      <div class="error"
                           *ngIf="registerForm.controls.firstName.hasError(validation.type) && (registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--Last name input-->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" formControlName="lastName" class="form-control" id="lastName"
                         aria-describedby="lastNameHelp" placeholder="Enter your Last Name">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.lastName">
                      <div class="error"
                           *ngIf="registerForm.controls.lastName.hasError(validation.type) && (registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
            <!--Email input-->
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input type="email" name="email" formControlName="email" class="form-control" id="email"
                         aria-describedby="emailHelp" placeholder="Enter your email address">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.email">
                      <div class="error"
                           *ngIf="registerForm.controls.email.hasError(validation.type) && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>


            <!--Address - Street input-->
            <div class="row mt-3">
              <div class="col-12">
                <div class="form-group">
                  <label for="street">Address</label>
                  <input type="text" name="street" formControlName="street" class="form-control" id="street"
                         aria-describedby="streetHelp" placeholder="Enter your address and house number">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.street">
                      <div class="error"
                           *ngIf="registerForm.controls.street.hasError(validation.type) && (registerForm.controls.street.dirty || registerForm.controls.street.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <!--Address - ZIP and city input-->
            <div class="row mt-3">
              <!--Address - ZIP input-->
              <div class="col-3">
                <div class="form-group">
                  <label for="zip">Zip Code</label>
                  <input type="text" name="zip" formControlName="zip" class="form-control" id="zip"
                         aria-describedby="zipHelp" placeholder="Zip Code">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.zip">
                      <div class="error"
                           *ngIf="registerForm.controls.zip.hasError(validation.type) && (registerForm.controls.zip.dirty || registerForm.controls.zip.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>

              <!--Address - city input-->
              <div class="col-9">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" name="city" formControlName="city" class="form-control" id="city"
                         aria-describedby="cityHelp" placeholder="Enter your city">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.city">
                      <div class="error"
                           *ngIf="registerForm.controls.city.hasError(validation.type) && (registerForm.controls.city.dirty || registerForm.controls.city.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                  <label for="country">Country</label>
                  <select class="form-control" required name="country" formControlName="country" id="country">
                    <option *ngFor="let coun of countriesKey" value="{{coun}}">{{countries[coun]}}</option>
                  </select>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.country">
                      <div class="error"
                           *ngIf="registerForm.controls.country.hasError(validation.type) && (registerForm.controls.country.dirty || registerForm.controls.country.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>

            <!--          Passwords input-->
            <div class="row mt-2">
              <!--First Password input-->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" formControlName="password" class="form-control" id="password"
                         aria-describedby="passwordHelp" placeholder="Enter your password">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.password">
                      <div class="error"
                           *ngIf="registerForm.controls.password.hasError(validation.type) && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!--Password confirm input-->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="passwordConfirm">Confirm Password</label>
                  <input type="password" name="passwordConfirm" formControlName="passwordConfirm" class="form-control"
                         id="passwordConfirm"
                         aria-describedby="passwordConfirmHelp" placeholder="Please confirm your password">
                </div>
                <div class="row mt-1">
                  <div class="col">
                    <ng-container *ngFor="let validation of registerFormMessages.passwordConfirm">
                      <div class="error"
                           *ngIf="registerForm.controls.passwordConfirm.hasError(validation.type) && (registerForm.controls.passwordConfirm.dirty || registerForm.controls.passwordConfirm.touched)">
                        <small class="form-text text-warning">{{ validation.message }} </small>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-12">
                  <ng-container>
                    <div class="error text-center"
                         *ngIf="(registerForm.controls.password.dirty || registerForm.controls.password.touched) &&
                       (registerForm.controls.passwordConfirm.dirty || registerForm.controls.passwordConfirm.touched) &&
                       registerForm.controls.passwordConfirm.value !== registerForm.controls.password.value">
                      <small class="form-text text-warning ">{{ registerFormMessages.password[1].message }} </small>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="error">
              <div class="col-lg-4">
              </div>
              <div class="col-lg-4">
                <div class="mt-3 alert alert-danger alert-dismissible fade show" role="alert">
                  <div class="row">
                    <div class="col-11"><strong>{{error}}</strong></div>
                    <div class="col-1">
                      <button type="button" style="padding: 0;" (click)="vanishError()" class="close btn"
                              data-dismiss="alert" aria-label="Close">
                        <i class="bi bi-x-circle"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-12">
                <div class="form-group d-grid">
                  <input [disabled]="!this.registerForm.valid || ((registerForm.controls.password.dirty || registerForm.controls.password.touched) &&
                       (registerForm.controls.passwordConfirm.dirty || registerForm.controls.passwordConfirm.touched) &&
                       registerForm.controls.passwordConfirm.value !== registerForm.controls.password.value)" type="submit" name="button" value="Sign Up" class="btn white">
                </div>
              </div>
              <div class="col-lg-4"></div>
            </div>
          </form>

          <!--        Terms of use-->
          <div class="row terms-of-use">
            <div class="col-12">
              <p class="text-center small">By clicking, you agree to TICKETLINE's <a routerLink="/terms-of-use">Term of
                Use</a> &amp; <a
                routerLink="/privacy-policy">Privacy Policy</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>
