<div class="container pt-5">
    <h2 class="text-center">
        User Management
    </h2>
    <!-- User filter -->
    <form class="form" [formGroup]="userForm" (submit)="handleSearch()">
        <div class="row d-flex align-items-center mt-3">
            <div class="col-1"></div>
            <div class="col-2">
                <label for="userRole">User Role</label>
                <select class="form-control" required name="userRole" formControlName="userRole" id="userRole">
                    <option value="">All</option>
                    <option value="CUSTOMER">Customer</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </div>
            <div class="col-2">
                <label for="userStatus">User Status</label>
                <select class="form-control" required name="userStatus" formControlName="userStatus" id="userStatus">
                    <option value="">All</option>
                    <option value="OK">Ok</option>
                    <option value="LOCKED">Locked</option>
                </select>
            </div>
            <div class="col-4">
                <label for="userMail">User Mail</label>
                <input type="text" title="User Email" id="userMail" name="userMail" formControlName="userMail"
                    class="form-control">
            </div>
            <div class="col-2">
                <label for="submitSearch"></label>
                <input type="submit" value="Search" class="form-control white" id="submitSearch" />
            </div>
        </div>
    </form>

    <div class="row pt-3">
        <!-- Placeholder -->
        <div class="col-2"></div>
        <div class="col-8">
            <div *ngIf="totalUsers!=0; else noUsers">
                <div  *ngFor="let u of user;let i = index" class="userEntry mb-3 mt-3">
                    <div>
                        {{u.role}} | {{u.email}}
                    </div>
                    <div role="button">
                        <i title="unlock user" *ngIf="u.status === 'LOCKED';else elseBlock" class="bi bi-lock lockIcon"
                            (click)="unlockUser(u)"></i>
                        <ng-template #elseBlock>
                            <i title="lock user" class="bi bi-unlock lockIcon" (click)="lockUser(u)"></i>
                        </ng-template>
                    </div>
                </div>
    
                <div *ngIf="totalUsers > pageSize" class="d-flex justify-content-center align-items-center">
                    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalUsers"
                        (pageChange)="handlePageChange()">
                        <ng-template ngbPaginationPages let-page let-pages="pages">
                            <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                                <div class="mb-3 d-flex flex-nowrap px-2">
                                    <label id="paginationInputLabel" for="paginationInput"
                                        class="col-form-label me-2 ms-1">Page</label>
                                    <input #i type="text" inputmode="numeric" pattern="[0-9]*"
                                        class="form-control custom-pages-input" id="paginationInput" [value]="page"
                                        (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
                                        (input)="formatInput($any($event).target)"
                                        aria-labelledby="paginationInputLabel paginationDescription"
                                        style="width: 2.5rem" />
                                    <span id="paginationDescription" class="col-form-label text-nowrap px-2">
                                        of {{pages.length}}</span>
                                </div>
                            </li>
                        </ng-template>
                    </ngb-pagination>
                </div>
            </div>

            <ng-template #noUsers>
                <div class="userEntry">
                    <b>
                        No users found that match the search criteria!
                    </b>
                </div>
            </ng-template>
        </div>
    </div>
</div>