<div class="container pt-5">
    <h2 class="text-center">
        User Management
    </h2>
    <!-- User filter -->
    <form>
        <div class="row d-flex align-items-center mt-3">
            <div class="col-1"></div>
            <div class="col-2">
                <label for="userRole">User Role</label>
                <select class="form-control" required name="userRole" formControlName="userRole" id="userRole">
                    <option value="CUSTOMER">Customer</option>
                    <option value="ADMIN">Admin</option>
                </select>
            </div>
            <div class="col-2">
                <label for="userStatus">User Status</label>
                <select class="form-control" required name="userStatus" formControlName="userStatus" id="userStatus">
                    <option value=0>Ok</option>
                    <option value=1>Locked</option>
                </select>
            </div>
            <div class="col-5">
                <label for="userMail">User Mail</label>
                <input type="text" title="User Email" id="userMail" name="userMail" class="form-control">
            </div>
            <div class="col-1">
                <label for="submitSearch"></label>
                <input type="button" value="Search" class="form-control white" id="submitSearch" />
            </div>
        </div>
    </form>

    <div class="row pt-3">
        <!-- Placeholder -->
        <div class="col-2"></div>
        <div class="col-8">
            <!-- Todo implement filter after locking state 
                implement search after mail-->

            <div *ngFor="let u of user;let i = index" class="userEntry mb-3 mt-3">
                <div>
                    {{u.role}} {{u.email}}
                </div>
                <div role="button">
                    <i title="unlock user" *ngIf="u.status == 'LOCKED';else elseBlock" class="bi bi-lock lockIcon"
                        (click)="unlockUser(u)"></i>
                    <ng-template #elseBlock>
                        <i title="lock user" class="bi bi-unlock lockIcon" (click)="lockUser(u)"></i>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>