<div class="container">

  <div class="row" *ngIf="searchedArtists === false && searchedEvents === false && searchedLocations === false">
    <div class="col">
      <h2 class="heading">Performances</h2>
      <button class="search-btn" (click)="findPerformances(); searchedPerformances = true"><i
        class="bi bi-search"></i></button>
      <button (click)="searchedPerformances = false; resetPerformanceSearchParams()">Reset</button>
    </div>
  </div>


  <div class="row" *ngIf="searchedArtists === false && searchedEvents === false && searchedLocations === false">
    <form>

      <div class="row">
        <div class="col-lg-4">
          <label for="eventName">Event Name</label>
          <input
            class="form-control"
            id="eventName"
            ngModel name="eventName"
            #eventName="ngModel"
            type="text"
            placeholder="Event Name"
            [(ngModel)]="performanceSearchParams.eventName">
        </div>

        <div class="col-lg-4">
          <label for="locationName">Location Name</label>
          <input
            class="form-control"
            id="locationName"
            ngModel name="locationName"
            #locationName="ngModel"
            type="text"
            placeholder="Location Name"
            [(ngModel)]="performanceSearchParams.locationName">

        </div>


        <div class="col-lg-4">
          <label for="fromDate">From Date</label>
          <input
            class="form-control"
            id="fromDate"
            ngModel name="fromDate"
            #fromDate="ngModel"
            type="date"
            placeholder="from Date"
            [(ngModel)]="performanceSearchParams.fromDate">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <label for="toDate">To Date</label>
          <input
            class="form-control"
            id="toDate"
            ngModel name="toDate"
            #toDate="ngModel"
            type="date"
            placeholder="to Date"
            [(ngModel)]="performanceSearchParams.toDate">
        </div>

        <div class="col-lg-4">
          <label for="price">Price</label>
          <input
            class="form-control"
            id="price"
            ngModel name="price"
            #price="ngModel"
            type="number"
            placeholder="Price"
            [(ngModel)]="performanceSearchParams.price">
        </div>
      </div>
    </form>
  </div>


  <div class="row mt-4" *ngIf="searchedPerformances && performances && performances.length>0">
    <div class="col-12">
      <table class="table">
        <thead>
        <th>Event Name</th>
        <th>Performance Time</th>
        <th>Performance Location</th>
        </thead>

        <tbody>
        <tr *ngFor="let performance of performances">
          <td>
            {{performance.event.name}}
          </td>
          <td>
            {{performance.dateTime | date:'dd.MM.yyyy'}}
          </td>
          <td>
            {{performance.location.name}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4" *ngIf="searchedPerformances && (!performances || performances.length===0)">
    <div class="col-12">
      <h3 class="text-center">Nothing to show</h3>
    </div>
  </div>

  <div class="search-bar mt-5" *ngIf="searchedPerformances === false && searchedEvents === false && searchedLocations === false">
    <div class="col">
      <h2 class="heading">Artists</h2>
      <button class="search-btn" (click)="findArtists(); searchedArtists = true"><i class="bi bi-search"></i></button>
      <button (click)="searchedArtists = false; resetArtistSearchParams();">Reset</button>
    </div>
    <div class="row">
      <form>
        <div class="col-lg-4">
          <label for="artistName">Artist/Band Name</label>
          <input
            class="form-control"
            id="artistName"
            ngModel name="artistName"
            #artistName="ngModel"
            type="text"
            placeholder="Artist/Band Name"
            [(ngModel)]="artistSearchParams.name">
        </div>
      </form>
    </div>

  </div>


  <div class="row mt-3" *ngIf="searchedArtists && artists && artists.length>0">
    <div class="col">
      <table class="table table-hover">
        <thead>
        <th>Artist/Band name</th>
        </thead>
        <tbody>
        <tr *ngFor="let artist of artists">
          <td>
            {{artist.name}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-4" *ngIf="searchedArtists && (!artists || artists.length===0)">
    <div class="col-12">
      <h3 class="text-center">Nothing to show</h3>
    </div>
  </div>


  <div *ngIf="searchedPerformances === false && searchedArtists === false && searchedLocations === false"
       class="search-bar mt-5">
    <div class="row">
      <div class="col-12">
        <h2 class="heading">Events</h2>
        <button class="search-btn" (click)="findEvents(); searchedEvents = true"><i class="bi bi-search"></i>
        </button>
        <button (click)="searchedEvents = false; resetEventSearchParams();">Reset</button>
      </div>
    </div>


    <form>
      <div class="row">
        <div class="col-lg-4">
          <label for="name">Event Name</label>
          <input
            id="name"
            ngModel name="name"
            #name="ngModel"
            type="text"
            class="form-control"
            placeholder="Event Name"
            [(ngModel)]="eventSearchParams.name">

        </div>
        <div class="col-lg-4">
          <label for="description">Event Description</label>
          <input
            id="description"
            ngModel name="description"
            #description="ngModel"
            type="text"
            class="form-control"
            placeholder="Event Description"
            [(ngModel)]="eventSearchParams.description">

        </div>
        <div class="col-lg-4">
          <label for="category">Event Category</label>
          <select [(ngModel)]="eventSearchParams.category" class="form-control" required name="category" id="category">
            <option value="{{null}}" selected>All</option>
            <option *ngFor="let ev of eventCategoriesKeys"
                    value="{{ev}}">{{eventCategories[ev][0] + (eventCategories[ev].slice(1) |lowercase)}}</option>
          </select>
        </div>
      </div>
<div class="row mt-3">
  <div class="col-lg-4">
    <label for="duration">Event Duration</label>
    <input
      id="duration"
      ngModel name="duration"
      #duration="ngModel"
      type="time"
      class="form-control"
      placeholder="duration"
      [(ngModel)]="eventSearchParams.duration">
  </div>
</div>

    </form>
  </div>


  <div class="mt-3 row" *ngIf="searchedEvents &&events && events.length>0">
    <div class="col">
      <table class="table table-hover">
        <thead>
        <th>Event name</th>
        <th>Category</th>
        <th>Description</th>
        <th>Duration</th>
        </thead>

        <tbody>
        <tr *ngFor="let event of events">
          <td>
            {{event.name}}
          </td>
          <td>
            {{event.category}}
          </td>
          <td>
            {{event.description}}
          </td>
          <td>
            {{event.duration | duration}}
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
  <div class="row mt-4" *ngIf="searchedEvents && (!events || events.length===0)">
    <div class="col-12">
      <h3 class="text-center">Nothing to show</h3>
    </div>
  </div>


  <div *ngIf="searchedPerformances === false && searchedEvents === false && searchedArtists === false"
       class="search-bar mt-5">
<div class="row">
  <div class="col">
    <h2 class="heading"> Locations </h2>
    <button class="search-btn" (click)="findLocations(); searchedLocations = true"><i class="bi bi-search"></i>
    </button>
    <button (click)="searchedLocations = false; resetLocationSearchParams();">Reset</button>
  </div>
</div>

    <form>
      <div class="row">
        <div class="col-lg-4">
          <label for="locationName">Location Name</label>
          <input
            id="locationsName"
            ngModel name="locationsName"
            #locationsName="ngModel"
            type="text"
            class="form-control"

            placeholder="Location Name"
            [(ngModel)]="locationSearchParams.name">
        </div>

        <div class="col-lg-4">
          <label for="street">Street</label>
          <input
            id="street"
            ngModel name="street"
            #street="ngModel"
            type="text"
            class="form-control"
            placeholder="Street"
            [(ngModel)]="locationSearchParams.street">
        </div>

        <div class="col-lg-4">
          <label for="street">City</label>
          <input
            id="city"
            ngModel name="city"
            #city="ngModel"
            type="text"
            class="form-control"
            placeholder="City"
            [(ngModel)]="locationSearchParams.city">
        </div>

      </div>
     <div class="row mt-3">

       <div class="col-lg-4">
         <label for="zipCode">Zip Code</label>

         <input
           id="zipCode"
           ngModel name="zipCode"
           #zipCode="ngModel"
           type="text"
           class="form-control"
           placeholder="Zip Code"
           [(ngModel)]="locationSearchParams.zipCode">
       </div>

       <div class="col-lg-4">
         <label for="country">Country</label>
         <select class="form-control" required name="country" id="country" [(ngModel)]="locationSearchParams.country">
           <option value="{{null}}"  selected>All Countries</option>
           <option *ngFor="let coun of countriesCodeToNameKeys" value="{{coun}}">{{countriesCodeToName[coun]}}</option>
         </select>
       </div>
     </div>
    </form>
  </div>


  <div class="mt-3 row" *ngIf="searchedLocations &&locations && locations.length >0">
    <div class="col">
      <table class="table table-hover">
        <thead>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>Zip Code</th>
        <th>Country</th>
        </thead>
        <tbody>
        <tr *ngFor="let location of locations">
          <td>
            {{location.name}}
          </td>
          <td>
            {{location.address.street}}
          </td>
          <td>
            {{location.address.city}}
          </td>
          <td>
            {{location.address.zipCode}}
          </td>
          <td>
            {{countriesCodeToName[location.address.country]}}
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>
  <div class="row mt-4" *ngIf="searchedLocations && (!locations || locations.length===0)">
    <div class="col-12">
      <h3 class="text-center">Nothing to show</h3>
    </div>
  </div>
</div>
