.search-bar{
  margin-top: 20px;
  margin-bottom: 30px;
}
button{
  //border: 2px solid var(--text-c-highlight) !important;
  background-color: transparent !important;
  padding: 9px 9px !important;
  scale: 80%;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: var(--font-w-bold);
}
